{% extends 'base.html' %}

{% block content %}

    <table class='table table-condensed table-bordered table-striped'>
      <tbody>
        <tr>
          <th colspan='2'>{{ detail.name }}</th>
        </tr>
        <tr>
          <th style='width: 30%'>{{ detail.group }}</th>
          <td rowspan='8' id='detailmap'></td>
        </tr>
        <tr>
          <td>
            {% if user.is_staff %}
              {% load admin_urls %}
              <a href="{% url opts|admin_urlname:'change' detail.id %}" class='btn btn-sm btn-warning'>Edit</a>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td><pre>{{ detail.address | safe }}</pre></td>
        </tr>
        <tr>
          <td><label> IP Address:</label> {{ detail.ip4address }}</td>
        </tr>
        <tr>
          <td><label> Coordinates: </label> {{ detail.latitude_y }}, {{ detail.longitude_x }}</td>
        </tr>
        <tr>
          <td> <label>Last Seen:</label> {{ detail.last_seen }}</td>
        </tr>
        <tr>
          <td><label>Last Check:</label> {{ detail.updated }}</td>
        </tr>
        <tr>
          <td class='{{ detail.status }}' style='height: 200px; line-height: 200px'><strong>{{ detail.status }}<strong></td>
        </tr>
        <tr>
          <td colspan='2'>{{ detail.status_detail | safe}}</td>
        </tr>
      </tbody>
    </table>

    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script>
      var map = L.map('detailmap').setView([{{ detail.latitude_y }}, {{ detail.longitude_x }}], 13);

      {% include 'mapicons.html' %}

      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {}).addTo(map);

      L.marker([{{ detail.latitude_y }}, {{ detail.longitude_x }}], {icon: {{ detail.status }}ICON })
       .addTo(map)
       .bindPopup('{{ detail.name }}<br>');

    </script>
    {% include 'refreshpage.html' %}
{% endblock %}
