{% extends 'base.html' %}

{% block content %}

    <table class='table table-condensed table-bordered table-striped'>
      <tbody>
        <tr>
          <th colspan='3'>
            {% if user.is_staff %}
              {% load admin_urls %}
              <a href="{% url opts|admin_urlname:'change' detail.id %}" class='btn btn-sm btn-warning' style='margin-right: 10px'>Edit</a>
            {% endif %}
            {{ detail.name }}
          </th>
        </tr>
        <tr>
          <td colspan='2'></td>
          <td rowspan='9' id='detailmap'></td>
        </tr>
        <tr>
          <th colspan='2' style='width: 30%'>{{ detail.group }}</th>
        </tr>
        <tr>
          <th><label>Address:</label></th><td> {{ detail.address | safe | upper }}</td>
        </tr>
        <tr>
          <th><label> IP Address:</label></th><td> {{ detail.ip4address }}</td>
        </tr>
        <tr>
          <th><label> Coordinates: </label></th><td> {{ detail.latitude_y }}, {{ detail.longitude_x }}</td>
        </tr>
        <tr>
          <th><label>Last Seen:</label></th><td> {{ detail.last_seen }}</td>
        </tr>
        <tr>
          <th><label>Last Check:</label></th><td> {{ detail.updated }}</td>
        </tr>
        <tr>
          <td class='{{ detail.status }}' style='height: 200px; line-height: 200px' colspan='2'>
            <strong>{{ detail.status }}<strong>
          </td>
        </tr>
        <tr>
          <td colspan='2'>
            <div class="progress">
              {% for h in history %}
                <div class="progress-bar progress-bar-{{ h.status }}" title="{{ h.stamp }}" style='width: 0.3%'></div>
              {% endfor %}
            </div>
            {{ detail.status_detail | safe}}
          </td>
        </tr>
      </tbody>
    </table>

    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script>
      var height = $(window).height() - 140;
      $("#detailmap").height(height);
      var map = L.map('detailmap').setView([{{ detail.latitude_y }}, {{ detail.longitude_x }}], 13);

      {% include 'mapicons.html' %}

      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {}).addTo(map);

      L.marker([{{ detail.latitude_y }}, {{ detail.longitude_x }}], {icon: {{ detail.status }}ICON })
       .addTo(map)
       .bindPopup('{{ detail.name }}<br>');

    </script>
    {% include 'refreshpage.html' %}
{% endblock %}
