{% extends 'base.html' %}

{% block content %}

  {% for group, hosts in host_list.items %}
  <div class='col-sm-3'>
    <table class='table table-condensed table-bordered table-striped'>
      <tr>
        <th colspan='2'>{{ group | upper}}</th>
      </tr>
      {% for host in hosts %}
        <tr>
          <td><a href="{% url 'monitor:detail' host.id %}">{{ host | upper}}</a></td>
          <td class='{{ host.status }}'>{{ host.status }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  {% include 'refreshpage.html' %}
  {% endfor %}
{% endblock %}

{% block status %}
  {% include 'status_block.html' %}
{% endblock %}
