{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  {% if downers %}
    <div class='alert alert-danger'>
      <ul>
      {% for down in downers %}
        <li>
          <span class='glyphicon glyphicon-warning-sign'></span>
          <a href="{% url 'monitor:detail' down.id %}"><strong>{{ down.name }}</strong></a>
           has been UNREACHABLE for <strong>{{ down.last_seen | timesince}}</strong>
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% for group, hosts in host_list.items %}
  <div class='col-sm-3'>
    <table class='table table-condensed table-bordered table-striped'>
      <tr>
        <th colspan='2'>{{ group | upper}}</th>
      </tr>
      {% for host in hosts %}
        <tr>
          <td><a href="{% url 'monitor:detail' host.id %}">{{ host | upper}}</a></td>
          {% with 'img/'|add:host.status|add:'.png'|lower as img_static %}
            <td style='width: 20px'><img src="{% static img_static %}" style='width: 15px;'></td>
          {% endwith %}
        </tr>
      {% endfor %}
    </table>
  </div>

  {% include 'refreshpage.html' %}
  {% endfor %}
{% endblock %}

{% block status %}
  {% include 'status_block.html' %}
{% endblock %}
