body {
  background: url(/static/img/background.jpg) no-repeat fixed;
  background-size: cover;
  background-color: #fff;
}

#detailmap {
  height: 200px;
  width: auto;
}

#overview_map {
  height: 600px;
  width: 0 auto;
}

tbody {
  background-color: #eee;
}

.table th {
  background-color: #363F45;
  color: #ccc;
  text-align: center;
}

td.WARNING {
  background-color: yellow;
  text-align: center;
}

td.UP {
  background-color: palegreen;
  text-align: center;
}

td.UNREACHABLE {
  background-color: pink;
  text-align: center;
}

.navbar-custom,
.navbar-custom a,
.navbar-custom a:hover {
  background-color: #363f45;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
