body {
  background: url(/static/img/background.jpg) no-repeat fixed;
  background-size: cover;
  background-color: #fff;
}

#detailmap {
  height: 200px;
  width: auto;
}

#overview_map {
  height: 600px;
  width: 0 auto;
}

tbody {
  background-color: #daeaf5;
}

.table th {
  background-color: #363F45;
  color: #fff;
  text-align: center;
}

td.WARNING {
  background-color: #f0ad4e;
  border-color: #eea236;
  text-align: center;
}

 td.UP {
  background-color: #5cb85c;
  border-color: #4cae4c;
  text-align: center;
}

td.UNREACHABLE {
  background-color: #d9534f;
  border-color: #d43f3a;
  text-align: center;
}

.navbar-custom {
  background-color: #363f45;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-custom a{
  color: #fff;
}

a.navbar-brand,
a.navbar-brand:hover {
  color: #fff;
  font-style: italic;
}

ul.nav.navbar-nav.navbar-right li a:hover {
  background-color: #eee;
  color: #363F45;
}

td a {
  color: #363F45;
}

.subnav {
  background-color: #eee;
  position: fixed;
  padding: 1px;
  margin: 0;
  font-size: 12px;
  left: 0;
  right: 0;
  top: 50px;
  width: 100%;
  min-height: 14px;
  line-height: 12px;
  z-index: 1000;
}

.subnav ul {
  list-style-type: none;
  margin: 0;
}

.subnav li {
  display: inline;
  padding-right: 15px;
}
