{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>It's Alive!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/munster.png' %}">
    <link href="{% static 'css/mainstyles.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw=="
          crossorigin="anonymous">
    <link href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-custom navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'front' %}">
             ITS ALIVE!
          </a>
        </div>

        {% if user.is_authenticated %}

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>{% block status %} {% endblock %}</li>
              <li><a href="{% url 'monitor:host_list' %}">HOSTS</a></li>
              <li><a href="{% url 'monitor:overview_map' %}">MAP</a></li>
              {% if user.is_staff %}
                <li><a href="/admin"><span class='glyphicon glyphicon-cog'></span></a></li>
              {% endif %}
              <li><a href="/logout"><span class='glyphicon glyphicon-log-out'></span></a></li>

            </ul>
          </div>
        {% endif %}

      </div>
    </nav>

    <div style='height: 70px;'></div>

    <div class='container-fluid'>
      {% block content %}{% endblock %}
    </div>

  </body>

  <footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A=="
            crossorigin="anonymous"></script>
  </footer>

</html>
