{% load staticfiles %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'front' %}">
         It's Alive
      </a>
    </div>

    {% if user.is_authenticated %}
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'monitor:host_list' %}">Host List</a></li>
          <li><a href="{% url 'monitor:overview_map' %}">Overview Map</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              <span class='glyphicon glyphicon-cog'></span>
            </a>
            <ul class="dropdown-menu">
              {% if user.is_superuser %}
                <li><a href="/admin">Admin</a></li>
              {% endif %}
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    {% endif %}

  </div>
</nav>

<div style='height: 70px;'></div>
